@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --primary: #241E20;
  --primary-light: #3D3D3D;
  --secondery: #34B8FE;
  --secondery-dark: #3490E0;
  --white: #fff;
  --light-gray: #eee;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.btn {
  background-color: var(--secondery);
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--white);
  transition: all 0.3s;
  box-sizing: border-box;
  display: inline-block;
}

.btn:hover {
  background-color: var(--secondery);
}

.btn:active {
  color: var(--primary);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}


/* contact-widget */

.contact-widget{
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  border-radius: 1rem;
  padding: 0.8rem;
  box-shadow: 0.1rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
  z-index: 11111;
}

.contact-widget a{
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--light-gray);
  transition: all 0.3s;
  border-radius: 50%;
  background-color: var(--primary-light);
  padding: 0.2rem 0.6rem;
}

.contact-widget .whatsapp:hover {
  background-color: #25D366;
  
}
.contact-widget .skype:hover {
  background-color: #00aff0;
}
.contact-widget .teligram:hover {
  background-color: #0088cc;
}


/* Navbar */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 3rem 0; 
  transition: all 0.5s; 
}

.nav-dark{
  background-color: var(--primary);
  padding: 1.5rem 0;
  box-shadow: 0.1rem 0 1rem rgba(0, 0, 0, 0.8);
}

.sticky{
  background-color: var(--primary);
  padding: 1.5rem 0;
  box-shadow: 0.1rem 0 1rem rgba(0, 0, 0, 0.8);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.brand img {
  width: 100%;
}

.brand a{
  font-size: 2rem;
  font-weight: 700;
  color: var(--secondery);
  text-decoration: none;
}

.brand a span{
  font-weight: 300;
  color: var(--white);
}

.toggle-btn{
  cursor: pointer;
  display: none;
}

.toggle-btn .line{
  width: 2rem;
  height: 0.15rem;
  margin-bottom: 0.5rem;
  background-color: var(--white);
  border-radius: 1rem;
  transition: all 0.5s;
}

.toggle-btn .line2{
  width: 1.3rem;
  transition: all 0.5s;
  margin-left: auto;
}
.toggle-btn .line3{
  margin-bottom: 0;
}

.toggle-btn:hover .line{
   background-color: var(--secondery);
}
.toggle-btn:hover .line2{
   width: 2rem;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  
}



.navlink {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navlink a {
  color: var(--white);
  font-size: 1rem;
  text-decoration: none;
  position: relative;
}

.navlink a::before{
  content: "";
  position: absolute;
  width: 0;
  height: 0.15rem;
  background-color: var(--secondery);
  border-radius: 1rem;
  top: 1.7rem;
  transition: all 0.8s;
}

.navlink a:hover::before{
  width: 2rem;
}

.navlink .active::before  {
  width: 2rem;
}

.search{
  position: relative;
  /* background-color: white; */
  border: 1px solid var(--secondery);
  border-radius: 50px;
  display: flex;
  --size:50px;
  padding: 3px;
  width: 30px;
  height: 30px;
  transition: width 300ms cubic-bezier(0.18, 0.59, 0.32, 1.15);
  overflow: hidden;
}

.search input{
  flex-grow: 1;
  font-size: 1rem;
  padding: 0 .5em;
  border: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: calc(var(--size) - 3px);
  opacity: 0;
  cursor: pointer;
  transition: opacity 300ms cubic-bezier(0.18, 0.59, 0.32, 1.15);
}

.search input:focus{
  outline: 0;
}

.search-btn {
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  background: transparent;
  color: var(--secondery);
  border-radius: 50%;
  height: 31px;
  width: 31px;
  margin-left: auto;
  transition: all 0.3s ease-in;
}

.search:focus-within{
  width: 350px;
  border: 1px solid var(--secondery);
  background-color: var(--white);
}
.search:focus-within .src-input {
  opacity: 1;
  cursor: initial;
  width: calc(100% - 50px);
}
.search:focus-within .search-btn {
  background: var(--secondery);
  color: var(--white);
}

.navlink-right {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.cart-btn {
  color: var(--white);
  position: relative;
}

.cart-icon {
  border: 1px solid var(--secondery);
  padding: .6rem .55rem;
  border-radius: 50%;
  transition: all 0.3s;
  color: var(--secondery);
}

.cart-icon:hover{
  color: var(--white);
  background-color: var(--secondery-dark);
}

.cart-btn span{
  position: absolute;
  top: -0.5rem;
  right: -0.4rem;
  background: #fff;
  border-radius: 50%;
  color: #000;
  padding: 0.1rem 0.4rem;
  font-size: 0.7rem;
}

.navlink-right a {
  color: var(--white);
  text-decoration: none;
}


.login-btn {
  background-color: var(--secondery);
  padding: .3rem 1.2rem;
  border-radius: 0.2rem;
  color: var(--white);
  font-weight: 500;
  display: inline-block;
  transition: all 0.3s;
  border: 1px solid var(--secondery);
}

.login-btn i{
  margin-left: 0.2rem;
}

.login-btn:hover{
  background-color: var(--secondery-dark);
}

.register-btn{
  padding: .3rem 1.2rem;
  border-radius: 0.2rem;
  color: var(--secondery) !important;
  font-weight: 500;
  display: inline-block;
  transition: all 0.3s;
  border: 1px solid var(--secondery);
}

.register-btn:hover {
  background-color: var(--secondery-dark);
  color: var(--white) !important;
}


/* Start of hero section */

.hero-section {
  background: linear-gradient(145deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/hero_bg.jpg) fixed no-repeat;
  background-size: cover;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content {
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-left h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  position: relative;
  font-weight: 400;
}

.hero-left h1::after {
  position: absolute;
  content: "";
  width: 5rem;
  height: 0.3rem;
  background-color: var(--secondery);
  top: 10rem;
  left: 0rem
}

.hero-left p {
  font-size: 1rem;
  margin-top: 6rem;
  margin-bottom: 7rem;
}

.btn-hero {
  background-color: transparent;
  border: 1px solid var(--secondery);
  color: var(--secondery);
}

.btn-hero:hover {
  color: var(--primary)
}

.btn-hero:active {
  background-color: var(--secondery-dark);
}

.img-wrapper {
  width: 32rem;
  animation: anim 3s infinite;
}

.img-wrapper img {
  width: 100%;
}

@keyframes anim {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(0.95)
  }

  100% {
    transform: scale(1);
  }
}

/* Top product section */

.top-products {
  padding: 5rem 0;
}

.product-card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 5rem;
}

.product-card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  box-shadow: 0.1rem 0rem 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.product-card:hover {
  box-shadow: 0.2rem 0rem 2rem rgba(0, 0, 0, 0.3);
}

.product-img-wrapper {
  overflow: hidden;
  height: 16rem;
}

.product-img-wrapper img {
  width: 100%;
  transition: all 0.5s;
  position: relative;
}

.product-card:hover .product-img-wrapper img {
  transform: scale(1.05);
}


.card-body {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.card-category{
  font-size: 1rem;
  text-decoration: none;
  color: #999;
  transition: 0.3s;
}

.card-category:hover {
  color: #555;
}

.prodict-card-title {
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.3rem 0;
}

.card-price {
  font-size: 1rem;
  font-weight: 500;
  color: #666;
}

.card-body-right .start{
  font-size: 0.8rem;
}

.card-footer {
  border-top: 1px solid var(--light-gray);
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem 1rem;
}

.product-card-btn {
  width: 100%;
  background-color: var(--secondery);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.product-card-btn:hover{
  color: var(--white);
}

.product-card-btn::before{
  content: "";
  background-color: var(--secondery-dark);
  color: var(--white);
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  top: 0;
  border-radius: 0.3rem;
  z-index: -1;
  transition: all 0.5s;
}


.product-card-btn:hover::before{
  
  width: 100%;
}

.product-cart-icon {
  width: 1.5rem;
  background-color: var(--primary);
  color: var(--white);
  padding: 0.6rem;
  border-radius: 50%;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: 1px solid var(--primary);
  transition: all 0.5s;
}

.product-cart-icon:hover{
 background-color: var(--primary-light);
 color: var(--secondery);
}


.viewall-btn-bottom{
  text-align: center;
}

.product-all-btn{
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  border: 1px solid var(--primary);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary);
  border-radius: .5rem;
  transition: all 0.5s;
}

.product-all-btn:hover{
  background-color: var(--primary);
  color: var(--white);
}

/* top-categories section */

.top-categories {
  padding: 5rem 0;
  background-color: var(--light-gray);
}

.title {
  font-size: 2rem;
  font-weight: 300;
  color: var(--primary);
  position: relative;
  margin-bottom: 3.5rem;
}

.title::after {
  position: absolute;
  content: "";
  width: 5rem;
  height: 0.1rem;
  background-color: var(--secondery);
  top: 4rem;
  left: 0rem
}

.cat-card-wrapper {
  display: flex;
  gap: 1rem;
}

.cat-card {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.8rem;
  border-radius: .5rem;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.2);
  width: 100%;
}

.cat-card-icon {
  width: 3rem;
  padding: 1rem;
  border-radius: 50%;
  background: var(--primary);
  color: var(--secondery);
}





@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cat-card:hover .cat-card-icon {
  animation: rotate 2s infinite;
}

.cat-card-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.cat-card-right p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.cat-card-btn {
  text-decoration: none;
  border: 1px solid var(--primary);
  border-radius: .3rem;
  padding: 0.2rem .5rem;
  font-size: .8rem;
  font-weight: bold;
  display: inline-block;
  color: var(--primary);
  transition: all 0.5s;
}

.cat-card-btn:hover {
  color: var(--white);
  background-color: var(--primary);
}


/* recent blog section */

.recent-blogs{
  margin: 5rem 0;
}

.blog-card-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  
}

.blog-card{
  background-color: var(--light-gray);
  border-radius: 0.5rem;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.2);
}

.blog-img-wrapper{
  width: 350px;
  height: 250px;
  overflow: hidden;
}

.blog-img-wrapper img {
 width: 100%;
}

.blog-card-right{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.blog-card-title{
  font-size: 1.6rem;
}

.blog-description{
  font-size: .9rem;
}

.blog-card-btn{
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  width: 5rem;
  padding: 0.3rem 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.5s;
}

.blog-card-btn:hover{
  background-color: var(--primary);
  color: var(--white);
}

/* footer-section */

.footer-top {
  background: linear-gradient(145deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(../images/hero_bg.jpg) no-repeat;
  background-size: cover;
  color: #aaa;
}

.footer-top-content {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 3.5rem 0;
}

.footer-items{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo{
  width: 15rem;
}

.logo img{
  width: 100%;
}
.footer-items p{
  font-size: 0.8rem;
}

.footer-title{
  font-size: 1.2rem;
  font-weight: 400;
  color: #eee;
  position: relative;
  margin-bottom: 1rem;
}

.footer-title::after{
  content: "";
  width: 2rem;
  height: 0.15rem;
  background-color: var(--secondery);
  top: 2.5rem;
  left: 0;
  position: absolute;
}

.p-width{
  width: 20rem;
}

.footer-link{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.footer-link a{
  text-decoration: none;
  color: #aaa;
  transition: all 0.3s;
}

.footer-link a:hover{
  color: var(--secondery);
}

.footer-bottom{
  background-color: var(--primary);
  padding: 1rem 0;
}

.footer-bottom-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright p{
  font-size: 0.8rem;
  color: #555;
}

.copyright p span{
  color: var(--secondery);
}

.social-icon{
  display: flex;
  gap: 1rem;
}

.social-icon a{
  background-color: #333;
  border-radius: 50%;
  color: var(--white);
  padding: .3rem .6rem;
  transition: all 0.3s;
}

.social-icon a:hover{
  color: var(--secondery);
  background-color: #111;
}




/* --------------------------Product Page----------------------- */

.banner {
  background: linear-gradient(145deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(../images/product-banner.jpg) center no-repeat;
  background-size: cover;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-content {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.banner h3 {
  color: var(--secondery);
  font-size: 2.5rem;
  font-weight: 500;
}

.banner p {
  color: rgba(220, 220, 220, 0.5);
}

.banner p a {
  color: var(--white);
  text-decoration: none;
}

.main-content {
  display: flex;
  gap: 2.5rem;
}

.categories {
  flex: 0 0 auto;
  width: 23%;
  box-sizing: border-box;
}

.cat-content {
  background-color: var(--light-gray);
  padding: 2rem;
  border-radius: .5rem;
}

.cat-content h3 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  color: #666;
}

.cat-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cat-links a {
  color: var(--primary-light);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.cat-icon {
  color: transparent;
  -webkit-text-stroke: 1px var(--secondery);
  margin-right: .8rem;
  transition: all 0.3s;
}

.cat-links a:hover {
  color: var(--secondery);
}

.cat-links a:hover .cat-icon {
  color: var(--secondery);
  -webkit-text-stroke: 0px var(--secondery);
}

.cat-links-active {
  color: var(--secondery) !important;
}

.products {
  flex: 0 0 auto;
  width: 77%;
  box-sizing: border-box;
}

.products-wrapper {
  grid-template-columns: repeat(3, 1fr);
}



/* --------------------------End of Product Page----------------------- */


/* product details page */

.product_view {
  margin-top: 9rem;
}

.product_view_top {
  display: flex;
  gap: 4rem;
  margin-bottom: 3rem;
}

.product_image_wrapper {
  width: 600px;
  height: 600px;
  background-color: var(--light-gray);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.product_image .product_image_wrapper img {
  width: 100%;
}

.product_info {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.product_info .breadcumb {
  font-size: 1rem;
  color: #555;
  cursor: pointer;
}

.product_info .breadcumb a {
  text-decoration: none;
  font-weight: 400;
  color: var(--secondery);
}

.product_tile {
  font-size: 2rem;
  letter-spacing: .2rem;
}

.product-price {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondery);
}

.regular_price {
  color: #777;
  font-weight: normal;
  position: relative;
}

.regular_price::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: rgb(224, 111, 111);
  top: 1.5rem;
  left: 0;
}

.add_to_cart input {
  border: 1px solid var(--secondery);
  padding: 1rem 0.5rem;
  width: 3rem;
  outline: none;
  transition: all 0.5s;
  margin: 0;
  font-size: 1rem;
}

.add_to_cart input:focus {
  background-color: rgba(98, 205, 255, 0.2);
}

.add_to_cart button {
  background-color: var(--secondery);
  border: 1px solid var(--secondery);
  padding: 1rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
  z-index: 0;
  position: relative;
}

.add_to_cart button:hover {
  color: var(--white);
}


.add_to_cart button::after {
  content: "";
  background-color: var(--secondery-dark);
  color: var(--white);
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.5s;
}

.add_to_cart button:hover::after {
  width: 100%;
}

.product_short_description {
  font-size: 1rem;
  color: #888;
}

.divider {
  border-top: 2px solid var(--light-gray);
  width: 100%;
}


.product_view_bottom {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin-top: 2.5rem;
  box-sizing: border-box;
}

.product_bottom_left {
  flex: 0 0 auto;
  width: 50%;
  border-right: 2px dotted var(--light-gray);
  padding-right: 2rem;
  box-sizing: border-box;
}

.product_bottom_left h3 {
  font-size: 1.8rem;
  color: var(--primary-light);
  margin-bottom: 1rem;
}

.bottom_left_content p {
  font-size: 1rem;
  color: #888;
}

.bottom_left_content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #888;
  font-style: italic;
  margin: 1.5rem 0;
}

.bottom_left_content img {
  width: 100%;
  margin-bottom: 1rem;
}

.bottom_left_content ul li i {
  margin-right: 0.7rem;
  color: var(--secondery);
}

.product_bottom_right {
  flex: 0 0 auto;
  width: calc(50% - 2rem);
}

.total-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.review-count {
  display: flex;
  align-items: center;
}

.review-count p {
  font-size: 1.5rem;
  margin-right: 0.8rem;
  color: var(--primary-light);
  font-weight: 500;
}


.reviews h3 {
  font-size: 1.8rem;
  color: var(--primary-light);
}

.review_user {
  display: flex;
  gap: 1.2rem;
  margin: 3rem 0;
  box-sizing: border-box;
}

.start {
  color: #ffba00;
}

.outline {
  color: transparent;
  -webkit-text-stroke: 1px #ffba00;
}

.review_user h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: .5rem 0rem;
}

.review_user p {
  font-size: 1rem;
  color: #888;
  font-style: italic;
}

.review_user_img_wrapper img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid var(--light-gray);
  overflow: hidden;
}


/* end of product details page */


/*----------------- Contact us page------------------- */

.contact-banner {
  background: linear-gradient(145deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(../images/contact-banner.jpg) center no-repeat;
  background-size: cover;
}

.main-area {
  margin: 6rem 0;
}

.contact-main-area {
  display: flex;
  align-items: center;
  gap: 5rem
}

.contact-left {
  flex: 0 0 auto;
  width: 50%;
}

.contact-right {
  flex: 0 0 auto;
  width: 50%;
}

.contact-lements {
  position: relative;
}

.contact-img-wrapper {
  width: 500px;
  height: 500px;
  border-radius: 3rem 0rem 3rem 0;
  overflow: hidden;
  border: 5px solid rgba(255, 255, 255, .3);
}

.img-bottom {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 3rem 0rem 3rem 0;
  background-color: var(--secondery);
  top: 3rem;
  left: 3rem;
  z-index: -1;
  filter: blur(2rem);
  opacity: 0.5;
}

.contact-img-wrapper img {
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
textarea {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 1rem .5rem;
  outline: none;
  transition: all 0.5s;
}

.contact-form input:focus,
textarea:focus {
  border-bottom: 2px solid var(--secondery);
  background-color: #d6edfa;
}

.contact-form textarea {
  height: 8rem;
  resize: none;
}

.contact-btn {
  width: 8rem;
  background-color: var(--secondery);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  z-index: 0;
  border: none;
  display: inline-block;
}

.contact-btn:hover {
  color: var(--white);
}

.contact-btn::before {
  content: "";
  background-color: var(--secondery-dark);
  color: var(--white);
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  top: 0;
  border-radius: 0.3rem;
  z-index: -1;
  transition: all 0.5s;
}


.contact-btn:hover::before {

  width: 100%;
}



/*-----------------End of Contact us page------------------- */


/* Blogs page */

.blogs-container {
  display: flex;
  gap: 3rem;
}

.bolg-categories {
  flex: 0 0 auto;
  width: 23%;
  box-sizing: border-box;
}

.blog-cat-content {
  background-color: var(--light-gray);
  padding: 2rem;
  border-radius: .5rem;
}

.blog-cat-content h3 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  color: #666;
}

.blog-cat-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blog-cat-links a {
  color: var(--primary-light);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.blog-cat-icon {
  color: transparent;
  -webkit-text-stroke: 1px var(--secondery);
  margin-right: .8rem;
  transition: all 0.3s;
}

.blog-cat-links a:hover {
  color: var(--secondery);
}

.blog-cat-links a:hover .cat-icon {
  color: var(--secondery);
  -webkit-text-stroke: 0px var(--secondery);
}

.blog-cat-links-active {
  color: var(--secondery) !important;
}


.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}



.blogpage-card {
  background-color: var(--light-gray);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.2);
}
/* 
.blog-img-wrapper {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.blog-img-wrapper img {
  width: 100%;
}

.blog-card-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.blog-card-title {
  font-size: 1.6rem;
}

.blog-description {
  font-size: .9rem;
}

.blog-card-btn {
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  width: 5rem;
  padding: 0.3rem 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.5s;
}

.blog-card-btn:hover {
  background-color: var(--primary);
  color: var(--white);
} */

/* Blogs page */




/* Responsive  */

@media (max-width:1500px) {
  .container{
    width: 1300px;
  }
  .blog-img-wrapper {
    width: 365px;
    height: 260px;
    overflow: hidden;
  }

  
}

@media (max-width:1350px){
  .container{
    width: 1200px;
  }
  
}

@media (max-width:1279px){
  .container {
    width: 1000px;
  }
  .toggle-btn{
    display: block;
    z-index: 1200;
  }

 .active-toggle .line1 {
    transform: rotate(405deg) translate(11px, 4px);
  }
 .active-toggle .line2 {
    opacity: 0;
  }

  .active-toggle .line3 {
    transform: rotate(-405deg) translate(11px, -4px);
  }


  .navigation{
    display: none;
  }

  .toggle-nav-active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0;
  }
  .toggle-nav-active .navlink {
    display: flex;
    flex-direction: column;
  }
  .toggle-nav-active .navlink-right {
    display: flex;
    flex-direction: column-reverse;
  }

  .search {
    position: relative;
    /* background-color: white; */
    border: 1px solid var(--secondery);
    border-radius: 50px;
    display: flex;
    --size: 50px;
    padding: 3px;
    width: 200px;
    height: 30px;
    transition: width 300ms cubic-bezier(0.18, 0.59, 0.32, 1.15);
    overflow: hidden;
    background-color: #fff;
  }

  .search:focus-within{
    width: 250px;
  }

  


  .product-card-wrapper{
    grid-template-columns: repeat(3, 1fr);
  }

  .blog-card {
    flex-direction: column;
    gap: .4rem;
  }

  .blog-img-wrapper {
    width: 550px;
    height: 250px;
    overflow: hidden;
  }
  
}

@media (max-width:1015px){
  .container {
    width: 830px;
  }

  .hero-left h1 {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }

  .hero-left h1::after {
    top: 9rem;
  }

   .hero-left p {
     margin-bottom: 3rem;
   }

  .img-wrapper {
    width: 25rem;
  }

  .product-card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .cat-card-wrapper{
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
  }
  .cat-card-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .cat-card-btn {
    padding: 0.4rem .7rem;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    color: var(--primary);
    transition: all 0.5s;
  }
  .logo {
    width: 10rem;
  }

  .footer-items p {
    font-size: 0.7rem;
  }

  .footer-title {
    font-size: .8rem;
    margin-bottom: 1.7rem;
  }

  .p-width {
    width: 15rem;
  }


  .footer-link a {
    font-size: .8rem;
  }
}

@media (max-width:849px){
  .container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 2rem;
  }

  .content-aling{
    display: flex;
    align-items: center;
    flex-direction: column;
  }


  .contact-widget {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    top: auto;
    right: auto;
    border-radius: 0;
    width: 100%;
    transform: translate(0, 0);
  }

  .contact-widget a {
    font-size: 2rem;
    padding: 0.2rem 0.8rem;
  }


  .brand {
    width: 12rem;
  }

  .hero-content{
    flex-direction: column;
  }
  .hero-left{
    text-align: center;
  }
  .hero-left h1 {
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-align: center;
  }

  .hero-left h1::after {
    top: 8rem;
    left: 50%;
    transform: translate(-50%, 0);
  }

 .hero-left p {
   margin-top: 4.5rem;
   margin-bottom: 5rem;
 }

  .img-wrapper {
    display: none;
    
  }

  .title{
    margin-bottom: 5rem;
  }

  .title::after {
    top: 4.5rem;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .blog-card-wrapper{
    flex-direction: column;
  }

  .blog-card {
    flex-direction: row;
  }

  .blog-img-wrapper {
    width: 350px;
    height: 250px;
    overflow: hidden;
  }

  .blog-img-wrapper img {
    width: 100%;
  }

  .cat-card-right {
    gap: 5rem;
  }
}

@media (max-width:650px){

 

  .product-card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog-card {
    flex-direction: column;
    gap: .4rem;
  }

  .blog-img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }


  .footer-top-content {
    flex-direction: column;
  }

  .p-width{
    width: 100%;
  }

  .footer-bottom-content{
    flex-direction: column;
    gap: 1.5rem;
  }

  .cat-card{
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem 0;
  }

  .cat-card-right {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .cat-card-right h1{
    text-align: center;
  }
  .cat-card-right p{
    text-align: center;
  }
 
}

@media (max-width:420px) {
  .hero-left h1 {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }

  .hero-left h1::after {
    top: 7rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
}